.IntervalPicker {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  align-content: flex-start;
}

.IntervalPicker > * {
  display: flex !important;
  width: auto !important;
  padding: 0 0 0 15px !important;
}

.IntervalPicker .IntervalPicker-input {
  line-height: 2em;
  height: auto;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}