.Card {
  margin: 0 0 15px 0;
  display: block;
}

.Card .Card-image {
  width: 100%;
  /* height: 140%;
  background-size: cover;
  background-position: top center;
  display: block; */
  border-radius: 5px;
}

.Card .Card-value {
  font-size: 36px;
  font-size: 2rem;
}

.Card.Card-hasGoodValue .Card-value {
  color: #1b8900;
}

.Card.Card-hasBadValue .Card-value {  
  color: #b90000;
}

.Card .Card-date {
  font-size: 12px;
}